/* 標題區 */

.ArticleDetailMain {
  /* width: 50%; */
}

/* 標題區 */

.ArticleSmallTitle {
  // width: 15rem;
  // margin-left: 23vw;
  // margin-bottom: 15vh;
  // margin-top: 8.75vh;
  font-size: 2rem;
  color: #805af5;
}

.fa-diamond {
  color: transparent;
  border: 0.3rem solid #805af5;
  transform: rotate(45deg) translate(0.3rem, -1rem);
  font-size: 0.8rem;
  top: 0;
  left: 1.5rem;
}
.BlogDetailSectionContentArea {
  // margin-bottom: 40vh;
}
.BlogDetailSectionContentAreaTitle {
  // margin-bottom: 8vh;
  // margin-top: 8vh;
  color: black;
}
.BlogDetailText {
  text-align: justify;
  margin-bottom: 8vh;
  color: black;
}

/* -----------------------------------新 Article 小卡----------------------------------- */
.ArticleSmallerCard {
  height: 12.5rem;
}

.ArticleSmallerCard:hover {
  animation: pulse 1s infinite; // 溫和的縮放感
}

.ArticleSmallerCardTitle {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  // color: #fff;
  letter-spacing: 0.2rem;
  font-size: 1.25rem;
  -webkit-line-clamp: 1;
}

.ArticleSmallerCardContent {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  color: #fff;
  font-size: 1rem;
  letter-spacing: 0.2rem;
}

.ArticleSmallerCardType {
  width: 8rem;
  color: #fff;
  letter-spacing: 0.2rem;
  text-wrap: nowrap;
}

.ArticleSmallerCardBodyContent {
  color: #fff;
  font-size: 1rem;
}

.ArticleSmallerCardHeadHover {
  position: absolute;
  // left: 0;
  // bottom: 0;
  // width: 100%;
  // height: 20%;
  background-color: #805af5;
  /* transition: all 1s ease; */
}

.ArticleSmallerCardHeadHoverP {
  font-size: 1.5rem;
  color: #fff;
  margin: 0.3rem 0 0 2rem;
  font-weight: 400;
}

.ArticleSmallerCard:hover .ArticleSmallerCardHeadHover {
  background: linear-gradient(
    90deg,
    #a793e9 0%,
    #5346b6 35%,
    #34246d 70%,
    #271948 100%
  );
}

.ArticleSmallerCard:hover .ArticleSmallerCardHeadHoverP {
  font-size: 1.5rem;
  color: #fff;
  margin: 0.3rem 0 0 50%;
  font-weight: 400;
  white-space: nowrap;
}
.BlogDetailCommentImg {
  width: 2rem;
  height: 2rem;
}
.BlogDetailComment {
  border: 1px solid #6854c7;
}
.SmallCircleWidgetToButtom {
  width: 3rem;
  height: 3rem;
  background-color: rgba(255, 255, 255, 0.52);
  box-shadow: 0px 0px 20px 2px #6854c7;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-items: center;
  transform: rotate(180deg);
  cursor: pointer;
  position: absolute;
  bottom: 0vw;
  left: 50%;
  font-size: 2rem;
}
.purplelinehr {
  color: #6854c7;
  background-color: #6854c7;
  height: 2px;
  // border: 1px solid #6854c7;
}

// 字體陰影
/* -----------------------------------新 Article 小卡----------------------------------- */

@media (max-width: 430px) {
  .ArticleSmallTitle {
    width: 15rem;
    margin-left: 23vw;
    margin-bottom: 15vh;
    margin-top: 8.75vh;
    font-size: 2rem;
    color: #805af5;
  }
}

@media (max-width: 720px) {
  .ArticleSmallTitle {
    width: 15rem;
    margin-left: 23vw;
    margin-bottom: 15vh;
    margin-top: 8.75vh;
    font-size: 2rem;
    color: #805af5;
  }
}
