.BlogSectionContainer {
  background-image: url('../public/images/blog/artical2.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  padding-top: 4%;
  padding-bottom: 4%;
  // height: 999rem !important;
}

/*  --------------------------ArticleSection -------------------------- */
.BlogHomePageSectionContainer {
  background-color: rgb(0, 0, 0);
  height: 28rem;
}

.BlogHomePageSectionTitle {
  color: #fff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Khula;
  font-size: 4.69rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 48.75px;
  margin-top: 4rem;
  margin-bottom: 5rem;
}

.BlogHomePageSectionIntroduction {
  letter-spacing: 2rem;
}

.BlogSearchBox {
  padding-top: 10rem;
  padding-bottom: 10rem;
  // margin-left: -1rem;
  // margin-right: -1rem;
  background: transparent;
}

.BlogMain {
  // margin-bottom: 14.75rem;
  padding-left: 0;
  padding-right: 0;
}

.BlogSearchInputStyle {
  border-top: 0;
  border-left: 0;
  border-right: 0;
  /* border-bottom: ; */
  border-radius: 0;
  width: 47rem;
  border-bottom: 1px solid black;
  background-color: transparent !important;
}

.BlogSearchInputStyle::placeholder {
  color: black;
  font-size: 2rem;
  border-bottom: 1px solid #fff;
  // background-color: transparent;
}
.SearchIcon {
  color: #fff;
}
.BlogSearchBox:has(.SearchIcon) {
  color: #fff;
}

.BlogSearchInputStyle:focus {
  outline: none;
  box-shadow: none;
  border-bottom: 1px solid #fff;
  color: #fff;
}

.BlogSearchInputStyle:focus::placeholder {
  background-color: transparent;
}

/* --------------點擊 Search 變成漸層-------------- */
.BlogSearchBox:has(.BlogSearchInputStyle:focus) {
  background: linear-gradient(
    0deg,
    #a793e9 0%,
    #5346b6 35%,
    #34246d 70%,
    #271948 100%
  );
}

/* --------------點擊 search 變成漸層-------------- */

.ArticleBrandSearch {
  /* width: 90rem; */
  // padding-top: 6rem;
  // padding-bottom: 3rem;
}

// .ArticleSmallTitle {
//   width: 15rem;
//   margin-left: 15rem;
//   margin-bottom: 15rem;
//   margin-top: 8.75rem;
//   font-size: 2rem;
//   color: #805af5;
// }

.ProductPosts {
  font-size: 2rem;
  color: #805af5;
  margin-top: 20rem;
  margin-bottom: 15rem;
}

.Blogfa-magnifying-glass {
  color: black;
}

.CardBrand {
  color: #fff;
  font-size: 0.625rem;
  letter-spacing: 0.2rem;
}

.ArticleCreatedTime {
  color: #fff;
}

/* ------------------------------------------ArticleCheckbox + 小菱形 checkbpx------------------------------------------ */
/* 隱藏預設的 checkbox 行為*/
.ArticleCheckbox input[type='checkbox'] {
  display: none;
}

/* 自定義 checkbox 未選中狀態的樣式 */
.ArticleCheckbox label {
  position: relative;
  cursor: pointer;
  padding-left: 25px;
  /* 調整文字和 checkbox 之間的距離 */
}

.ArticleCheckbox label::before {
  content: '';
  position: absolute;
  left: 0.5rem;
  top: 0.4rem;
  width: 12px;
  height: 12px;
  /* checkbox 邊框顏色 */
  border: 1.5px solid black;
  /* checkbox 邊框顏色 */
  /* background-color: transparent; */
  /* transition: all 0.3s ease; */
  transform: rotate(45deg);
}

/* checkbox 勾選後的樣式自定義 */
.ArticleCheckbox input[type='checkbox']:checked + label::before {
  background-color: #805af5;
  /* 填充背景色 */
  border-color: transparent;
}

/* checkbox 整體樣式 */
.ArticleCheckbox {
  background-color: transparent;
  width: 11rem;
}

/* checkbox 字體顏色 */
.ArticleCheckbox .ArticleCheckboxLabel {
  color: black;
}

/* ------------------------------------------ArticleCheckbox + 小菱形 checkbpx------------------------------------------ */

.BlogTypeSearch {
  /* width: 90rem; */
  // padding-top: 3rem;
  // margin-top: -13rem;
  padding-bottom: 3rem;
}

/* ------------------------------------------BlogCheckbox + 小菱形 checkbpx------------------------------------------ */
/* 隱藏預設的 checkbox 行為*/
.BlogTypeCheckbox input[type='checkbox'] {
  display: none;
}

/* 自定義 checkbox 未選中狀態的樣式 */
.BlogTypeCheckbox label {
  position: relative;
  cursor: pointer;
  padding-left: 25px;
  /* 調整文字和 checkbox 之間的距離 */
}

.BlogTypeCheckbox label::before {
  content: '';
  position: absolute;
  left: 0.5rem;
  top: 0.4rem;
  width: 12px;
  height: 12px;
  /* checkbox 邊框顏色 */
  border: 1.5px solid black;
  /* checkbox 邊框顏色 */
  /* background-color: transparent; */
  /* transition: all 0.3s ease; */
  transform: rotate(45deg);
}

/* checkbox 勾選後的樣式自定義 */
.BlogTypeCheckbox input[type='checkbox']:checked + label::before {
  background-color: #805af5;
  /* 填充背景色 */
  border-color: transparent;
}

/* checkbox 整體樣式 */
.BlogTypeCheckbox {
  background-color: transparent;
  width: 11rem;
}

/* checkbox 字體顏色 */
.BlogTypeCheckbox .BlogTypeCheckboxLabel {
  color: black;
}

/* ------------------------------------------BlogCheckbox + 小菱形 checkbpx------------------------------------------ */

/* ------------------------------------------------BlogCard------------------------------------------------ */
.BlogCard {
  background-color: #805af5;
  height: 15rem;
  width: 35rem;
  border-radius: 1rem 0 1rem 0;
}
.BlogCard:hover {
  animation: pulse 1s;
}
.BlogCardImg {
  border-radius: 1rem 0 1rem 0;
  background-color: #fff;
}
.BlogCardTitle {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  color: #fff;
  letter-spacing: 0.2rem;
  font-size: 1.25rem;
  -webkit-line-clamp: 1;
}

.BlogCardContent {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  color: #fff;
  font-size: 1rem;
  letter-spacing: 0.2rem;
}

.BlogCardType {
  width: 8rem;
  color: #fff;
  letter-spacing: 0.2rem;
  text-wrap: nowrap;
}

.BlogCardBodyContent {
  color: #fff;
  font-size: 1rem;
}

.BlogCard:hover .card-body {
  background: linear-gradient(
    270deg,
    #a793e9 0%,
    #5346b6 35%,
    #34246d 70%,
    #271948 100%
  );
}
.ArticleSectionTitle {
  color: #fff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Khula;
  font-size: 7rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 48.75px;
  margin-top: 4rem;
  margin-bottom: 5rem;
}
/* ------------------------------------------------Blog 小卡------------------------------------------------ */

/* BlogHomePageSmallerCard */

.BlogSmallerCard {
  width: 21rem;
  height: 10rem;
  border: none;
}

.BlogHomePageSmallerCardImg {
  border-radius: 20px 0px 0px 0px;
}

.BlogHomePageSmallerCardBody {
  background-color: #805af5;
  border-radius: 0px 0px 20px 0px;
}

.BlogHomePageSmallerCardBodyTitle {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  letter-spacing: 0.4rem;
}

.BlogHomePageSmallerCardBodyContent {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  letter-spacing: 0.4rem;
}

.BlogHomePageSmallerCardBody:hover {
  background: linear-gradient(
    270deg,
    #a793e9 0%,
    #5346b6 35%,
    #34246d 70%,
    #271948 100%
  );
}

.BlogSmallerCardTwoGroup {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.BlogSmallerCardFourGroup {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.BlogSmallerCardEightGroup {
  display: flex;
  flex-direction: column;
  gap: 18rem;
}
.PurpleLine {
  height: 1px;
  // width: 65%;
  background-color: #805af5;
  // margin: auto;
}
.SmallCircleWidgetToLeft {
  width: 3rem;
  height: 3rem;
  background-color: rgba(255, 255, 255, 0.52);
  box-shadow: 0px 0px 20px 2px #6854c7;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-items: center;
  transform: rotate(180deg);
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 0%;
  font-size: 2rem;
}
.SmallCircleWidgetToRight {
  width: 3rem;
  height: 3rem;
  background-color: rgba(255, 255, 255, 0.52);
  box-shadow: 0px 0px 20px 2px #6854c7;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-items: center;
  /* transform: rotate(0deg); */
  cursor: pointer;
  position: absolute;
  top: 50%;
  right: 0%;
  font-size: 2rem;
}
/* ------------------------------------------------換頁小菱形------------------------------------------------ */
.ChangePageDiamond {
  color: transparent;
  border: 0.1rem solid #805af5;
  transform: rotate(45deg) translate(0.3rem, -1rem);
  font-size: 0.8rem;
  top: 0;
  left: 1.5rem;
  margin-right: 1rem;
  display: inline-block;
}
/* ------------------------------------------------換頁小菱形------------------------------------------------ */
/* ------------------------------------------------換頁小菱形位置控制------------------------------------------------ */
.ChangePageDiamondDiv {
  margin-top: 40vh;
  margin-left: 45%;
}
/* ------------------------------------------------換頁小菱形位置控制------------------------------------------------ */
/* ------------------------------------------------RWD------------------------------------------------ */

.BlogIndexCreatedButton {
  background: #805af5;
}

.BlogIndexCreatedButton:hover {
  background: linear-gradient(180deg, #a793e9 0%, #423db0 50%, #2e256a 100%);
}

.ArticleSectionIntroduction {
  letter-spacing: 2rem;
  width: 100%;
  font-size: 2.5rem;
}

@media (max-width: 430px) {
  .ArticleSectionTitle {
    width: 100%;
    color: #fff;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Khula;
    font-size: 4.69rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.5rem;
    margin: center;
    margin-left: 1rem;
    margin-bottom: 3rem;
    /* padding-bottom:10rem; */
  }

  .ArticleSectionIntroduction {
    letter-spacing: 2rem;
    width: 100%;
  }

  .ArticleSectionContainer {
    background-color: rgb(0, 0, 0);
    height: 38rem;
  }

  .SearchInputStyle {
    /* border-top: 0;
        border-left: 0;
        border-right: 0; */
    /* border-bottom: ; */
    border-radius: 0;
    width: 20rem;
    background-color: Transparent;
  }

  .BlogSearchBox {
    padding-top: 3rem;
    padding-bottom: 3rem;
    background: transparent;
  }

  .ArticleBrandSearch {
    /* width: 90rem; */
    padding-top: 5rem;
    padding-bottom: 0rem;
  }

  // .ArticleSmallTitle {
  //   margin-left: 5rem;
  //   margin-bottom: 5rem;
  //   margin-top: 5rem;
  //   font-size: 2rem;
  //   color: #805af5;
  // }

  .BlogSmallerCardTwoGroup {
    display: flex;
    flex-direction: column;
    gap: 18rem;
    /* margin-left: -5rem; */
  }

  .BlogSmallerCardFourGroup {
    display: flex;
    flex-direction: column;
    gap: 18rem;
    margin: -3rem !important;
  }
  .BlogCard {
    background-color: #805af5;
    height: 11rem;
    width: 28rem;
    border-radius: 1rem 0 1rem 0;
  }
}

@media (max-width: 720px) {
  .ArticleSectionTitle {
    width: 100%;
    color: #fff;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Khula;
    font-size: 4.69rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.5rem;
    margin-top: 2.5rem;
    margin-bottom: 5rem;
    /* padding-bottom: 5rem; */
  }

  .ArticleSectionIntroduction {
    letter-spacing: 2rem;
    width: 100%;
  }

  .ArticleSectionContainer {
    background-color: rgb(0, 0, 0);
    height: 38rem;
  }

  .SearchInputStyle {
    /* border-top: 0;
        border-left: 0;
        border-right: 0; */
    /* border-bottom: ; */
    border-radius: 0;
    width: 20rem;
    background-color: Transparent;
  }

  .BlogSearchBox {
    padding-top: 3rem;
    padding-bottom: 3rem;
    background: transparent;
  }

  .ArticleBrandSearch {
    /* width: 90rem; */
    padding-top: 5rem;
    padding-bottom: 0rem;
  }

  // .ArticleSmallTitle {
  //   margin-left: 5rem;
  //   margin-bottom: 5rem;
  //   margin-top: 5rem;
  //   font-size: 2rem;
  //   color: #805af5;
  // }

  .BlogSmallerCardTwoGroup {
    display: flex;
    flex-direction: column;
    gap: 18rem;
    margin-left: 5rem;
  }

  .BlogSmallerCardFourGroup {
    display: flex;
    flex-direction: column;
    gap: 18rem;
    margin-left: 0rem !important;
  }
}

/* ------------------------------------------------RWD------------------------------------------------ */
