// .BlogEditAlignAllItems {
//   width: 50%;
//   height: auto;
//   display: flex;
//   flex-direction: column;
//   gap: 6rem;
// }
.BlogEditSmallTitle {
  width: 15rem;
  font-size: 1.5rem;
  color: #805af5;
}

.BlogImgUploadDiv {
  width: 50vw;
  height: 31.25rem;
  background-color: #fff;
  border: 1px solid black;
  cursor: pointer;
}
.fa-arrow-up-from-bracket {
  font-size: 8rem;
}
.BlogEditTypeSelected {
  width: 34.375rem;
  height: 3.75rem;
  background-color: #805af5;
  border-radius: 20px 0px;
  font-size: 2rem;
  font-weight: 400;
  color: #fff;
}
.BlogSmallTitleAlign {
  width: 50%;
  height: 100%;
}
@media screen and (max-width: 430px) {
  .BlogImgUploadDiv {
    width: 50vw;
    height: 31.25rem;
    background-color: #fff;
    border: 1px solid black;
    cursor: pointer;
  }
}
