.compare_breadcrumb {
  padding: 3.646vw 10.417vw 3.646vw;
  font-size: 14px;
  color: white;
  a {
    color: white;
  }
}
.compare_container {
  box-sizing: border-box;
  padding: 0px;
  background: linear-gradient(
    333deg,
    #6835a6 9.79%,
    #150928 27.32%,
    #000 49.97%,
    #1b1956 72.85%,
    #402bb0 86.53%,
    #d0bcff 98.34%
  );
}
/* Container for Boxes */
.container {
  display: flex;
  max-width: 1330px;
  margin: 0 auto;
  gap: 20px;
}
.container.active {
  background: black;
  border-radius: 10px;
  margin-bottom: 50px;
}
/* Box Style */
.compare_box {
  width: 680px;
  height: 465px;
  background: linear-gradient(180deg, #a793e9 0%, #423db0 50%, #2e256a 100%);
  display: none;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  position: relative;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}
.compare_box.active {
  display: flex;
}
/* Box Hover Effect */
.compare_box:hover {
  transform: scale(1.05);
}

/* Plus Icon */
.compare_plus_icon {
  width: 100px;
  height: 100px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2em;
  color: #fff;
}
/* Card Style */
.compare_card {
  padding: 20px;
  flex: 1;
  color: #ddd;
  display: none;
}
.compare_card.active {
  display: block;
}
/* Image Style */
.compare_image {
  width: 100%;
  height: auto;
  max-width: 300px;
  margin: 0 auto 20px;
  display: block;
  border-radius: 10px;
}

/* Specifications List */
.compare_specifications {
  line-height: 1.6;
}
.clear_compare {
  display: none;
  justify-content: center;
  padding: 10px;
  cursor: pointer;
  color: white;
  font-size: 20px;
  background-color: #805af5;
  border-radius: 10px;
  margin: 0 auto;
  margin-bottom: 150px;
  width: 200px;
}
.clear_compare.active {
  display: flex;
}
