.container {
  font-weight: bold;
  color: #ffffff;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.wordGroup {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.5rem;
}

.wordWrap {
  display: inline-flex;
  white-space: nowrap;
}

.alphabet {
  display: inline-block;
  transform-origin: center bottom;
  font-weight: bold;
  color: #ffffff;
  font-size: calc(1.5rem + 2vw);
  padding: 0 2px;
}

.alphabet.active {
  animation: jumpCyber1 1.5s cubic-bezier(0.165, 0.85, 0.45, 1);
}

/* 霓虹效果 */
.alphabet:nth-child(5n+1).active {
  animation-name: jumpCyber1;
}
.alphabet:nth-child(5n+2).active {
  animation-name: jumpCyber2;
}
.alphabet:nth-child(5n+3).active {
  animation-name: jumpCyber3;
}
.alphabet:nth-child(5n+4).active {
  animation-name: jumpCyber4;
}
.alphabet:nth-child(5n+5).active {
  animation-name: jumpCyber5;
}

@keyframes jumpCyber1 {
  0%, 100% { 
      transform: translateY(0) scale(1);
      color: #ffffff;
      text-shadow: none;
  }
  50% {
      transform: translateY(-50px) scale(1.1);
      color: #FF2E93;
      text-shadow: 0 0 10px #FF2E93,
                   0 0 20px #FF2E93,
                   0 0 30px #FF2E93;
  }
}

@keyframes jumpCyber2 {
  0%, 100% { 
      transform: translateY(0) scale(1);
      color: #ffffff;
      text-shadow: none;
  }
  50% {
      transform: translateY(-50px) scale(1.1);
      color: #B829FF;
      text-shadow: 0 0 10px #B829FF,
                   0 0 20px #B829FF,
                   0 0 30px #B829FF;
  }
}

@keyframes jumpCyber3 {
  0%, 100% { 
      transform: translateY(0) scale(1);
      color: #ffffff;
      text-shadow: none;
  }
  50% {
      transform: translateY(-50px) scale(1.1);
      color: #17E7FF;
      text-shadow: 0 0 10px #17E7FF,
                   0 0 20px #17E7FF,
                   0 0 30px #17E7FF;
  }
}

@keyframes jumpCyber4 {
  0%, 100% { 
      transform: translateY(0) scale(1);
      color: #ffffff;
      text-shadow: none;
  }
  50% {
      transform: translateY(-50px) scale(1.1);
      color: #37ff1421;
      text-shadow: 0 0 10px #37ff1421,
                   0 0 20px #37ff1421,
                   0 0 30px #37ff1421;
  }
}

@keyframes jumpCyber5 {
  0%, 100% { 
      transform: translateY(0) scale(1);
      color: #ffffff;
      text-shadow: none;
  }
  50% {
      transform: translateY(-50px) scale(1.1);
      color: #FFFFFF;
      text-shadow: 0 0 10px #FFFFFF,
                   0 0 20px #FFFFFF,
                   0 0 30px #FFFFFF;
  }
}