  
//   body {
//     margin: 0;
//     padding: 0;
//     background-color: #63b0ff;
//     overflow: hidden;
//     timeline-scope: --question-block, --world, --mario;
//   }
  
  // :root {
  //   --frames: 4;
  //   --mario-height: 97px;
  //   --mario-width: 72px;
  //   --block-size: 36px;
  //   --world-size: 150vw;
  //   --coin-size: 28px;
  // }
  .world {
    width: 100vw;
    height: 100vh;
    overflow-x: auto;
    position: relative;
    scroll-timeline:150vw inline;
  }
  
  .mario {
    position: fixed;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    height: 97px;
    width: 72px;
    view-timeline: --mario;
  
    .walk {
      position: absolute;
      z-index: 1;
      background-image: url("https://www.spriters-resource.com/resources/sheets/173/176365.png");
      background-size: 1079px;
      background-position: -80px -299px;
      height: 100%;
      width: 100%;
    }
  
    .jump {
      position: absolute;
      z-index: 2;
      background-image: url("https://www.spriters-resource.com/resources/sheets/173/176365.png");
      background-size: 1079px;
      background-position: -773px -299px;
      height: 100%;
      width: 100%;
      visibility: hidden;
    }
  }
  
  /* scroll timeline */
  
  @keyframes walk {
    from {
      background-position: -80px -299px;
    }
  
    to {
      background-position: -310px -299px;
    }
  }
  
  @keyframes jump {
    0%,
    100% {
      translate: 0;
    }
  
    44.9%,
    55.1% {
      visibility: hidden;
    }
  
    45%,
    55% {
      visibility: visible;
      translate: 0;
    }
  
    50% {
      translate: 0 -100px;
    }
  }
  
  @keyframes toggle {
    0%,
    55%,
    100% {
      visibility: visible;
    }
  
    45.7%,
    54.5% {
      visibility: hidden;
    }
  }
  
  .mario {
    .walk {
      animation-name: walk, toggle;
      animation-timing-function: steps(calc(var(4) - 1));
      animation-iteration-count: 50, 1;
      animation-timeline: --world, --question-block;
      animation-fill-mode: both;
    }
  
    .jump {
      animation-name: jump;
      animation-timeline: --question-block;
      animation-fill-mode: both;
      animation-range: contain 0% contain 100%;
    }
  }
  
  /* ground */
  
  .ground {
    position: absolute;
    bottom: 0;
    background-image: url("https://raw.githubusercontent.com/leochiu-a/assets-for-codepen/main/mario/ground-block.png");
    background-size: 32px;
    width: var(--world-size);
    height: calc(100vh / 2 - var(--mario-height) / 2 - 12px);
  }
  
  /* blocks */
  
  .blocks {
    left: 70vw;
    top: calc(50% - 142px);
    position: relative;
    width: fit-content;
    display: flex;
  }
  
  .brick {
    background-image: url("https://www.spriters-resource.com/resources/sheets/196/198709.png?updated=1685997822");
    background-size: 464px;
    background-position: -40px -2px;
    height: var(--block-size);
    width: var(--block-size);
  }
  
  .questionblock {
    background-image: url("https://www.spriters-resource.com/resources/sheets/196/198709.png?updated=1685997822");
    background-size: 464px;
    background-position: -2px -383px;
    height: var(--block-size);
    width: var(--block-size);
  
    display: flex;
    justify-content: center;
  }
  
  @keyframes flip-coin {
    from {
      background-position: -581px -165px;
    }
  
    to {
      background-position: -672px -165px;
    }
  }
  
  @keyframes get-coin {
    0%,
    100% {
      translate: 0 -25px;
      visibility: visible;
    }
  
    50% {
      translate: 0 -60px;
    }
  }
  
  .coin {
    position: absolute;
    background-image: url("https://www.spriters-resource.com/resources/sheets/174/177030.png?updated=1655225758");
    background-size: 1068px;
    background-position: -581px -165px;
    height: 28px;
    width: 28px;
    animation: flip-coin 0.3s infinite steps(3), get-coin;
    animation-timeline: auto, view(inline 50%);
    translate: 0 -20px;
    visibility: hidden;
  }
  
  @keyframes shine {
    0%,
    100% {
      background-position: -2px -383px;
    }
  
    50% {
      background-position: -117px -383px;
    }
  }
  
  @keyframes pause-shine {
    0%,
    100% {
      background-position: -117px -383px;
    }
  }
  
  .questionblock {
    view-timeline: --question-block inline;
    view-timeline-inset: 72px;
    animation: shine 1s infinite steps(1), pause-shine forwards steps(1);
    animation-timeline: auto, view(inline 50%);
  }
  