html,
body {
  height: 100%;
  margin: 0;
}

body {
  display: grid;
  place-items: center;
}

/* card */

.card {
  border-radius: 20px;
  border: 1px solid #f6f6f6;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  width: 300px;
}

.card-icon {
  color: #989898;
  position: absolute;
}

.card-title {
  color: #989898;

  &:not(:first-of-type) {
    margin-left: 24px;
  }
}

.close-btn {
  background: #f4eeeb;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: grid;
  place-items: center;
  line-height: 1;
  cursor: pointer;
  position: absolute;
  right: 20px;
  top: 12px;
  font-size: 10px;
  
  i {
    scale: 0.8;
  }
}

.card-title-row {
  padding: 12px 20px 0;
  position: relative;
}

.card-body {
  padding: 12px 20px 16px;
}

.btn {
  padding: 12px 24px;
  background-color: #2d2d2d;
  border: none;
  border-radius: 12px;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
  margin-top: 16px;
}

.row {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

/* selection card */

.selection {
  display: grid;
  gap: 12px;
}

.item {
  font-size: 14px;
  cursor: pointer;
  display: grid;
  grid-template-columns: max-content 1fr;
  grid-template-rows: repeat(2, max-content);
  column-gap: 8px;
  align-items: center;
}

.item-icon {
  grid-row: 1 / -1;
  font-size: 16px;
}

.item-title {
  color: #282828;
}

.item-subtitle {
  color: #ababab;
}

/*  form */

.form-item {
  display: flex;
  flex-direction: column;

  &:not(:last-of-type) {
    margin-bottom: 12px;
  }

  label {
    color: #818181;
    font-size: 14px;
    margin-bottom: 4px;
  }

  input {
    border-radius: 8px;
    height: 32px;
    outline: none;
    border: 2px solid #e9e9e9;
    font-size: 16px;

    &:focus {
      border-color: #2c2c2c;
    }
  }
}

/* debit card */

.avaliable-cards {
  color: #818181;
  font-size: 14px;
}

.add-card-btn {
  border-radius: 12px;
  border: 1px solid #ededed;
  padding: 4px 8px;
  color: #818181;
  background: #fff;
  cursor: pointer;
  display: flex;
  gap: 4px;
  align-items: center;
}

.debit-card-radio-group {
  margin-top: 12px;
}

.debit-card-radio {
  padding: 12px 8px;
  background: #faf8f2;
  border-radius: 8px;
  display: flex;
  align-items: center;

  &:not(:last-of-type) {
    margin-bottom: 8px;
  }

  input[type="radio"] {
    accent-color: #2d2d2d;
  }
}

/* view transition */

.card {
  view-transition-name: card;
}

::view-transition-old(card),
::view-transition-new(card) {
  height: 100%;
}

.item:nth-of-type(1) .item-title,
#bank-transfer .card-title {
  view-transition-name: bank-transfer-title;
}

.item:nth-of-type(1) .item-icon,
#bank-transfer .card-icon {
  view-transition-name: bank-transfer-icon;
}

.item:nth-of-type(2) .item-title,
#debit-card .card-title {
  view-transition-name: debit-card-title;
}

.item:nth-of-type(2) .item-icon,
#debit-card .card-icon {
  view-transition-name: debit-card-icon;
}

.item:nth-of-type(3) .item-title,
#wallet-card .card-title {
  view-transition-name: wallet-card-title;
}

.item:nth-of-type(3) .item-icon,
#wallet-card .card-icon {
  view-transition-name: wallet-card-icon;
}